1.	If constraint exists than disable

IF EXISTS(SELECT * FROM INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS WHERE CONSTRAINT_NAME = 'FK_HistoricData_UserID')
BEGIN
	ALTER TABLE HistoricData NOCHECK CONSTRAINT FK_HistoricData_UserID
END
GO


2.	If constraint exists than enable

IF EXISTS(SELECT * FROM INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS WHERE CONSTRAINT_NAME = 'FK_HistoricData_UserID')
BEGIN
	ALTER TABLE HistoricData CHECK CONSTRAINT FK_HistoricData_UserID
END
GO
